body {background-color:black;font-family:arial;color:yellow}
h1{color:black;font-family:open-sans}
.maindiv {
    background-color: #FFD700;
	font-family: open-sans;
	
    color:black;
    width:400px;
    padding:20px;
    border-radius:25px;
    align:center
	
	
}

